## OFCOM'S NP Scoring Model

In [1]:
#importing libraries
import pandas as pd
import math

In [2]:
#Read the data
df = pd.read_csv(r'C:\\Users\\lavanya\\Desktop\\NP_score.csv')
df.head()

,s.no,Nameofproduct,protein_g,sodium_mg,fiber_g,sugars_g,Servingsize_g,Energy/calories,Saturated_Fat_g,Saturatedfat_DV_percentage,Sodium_mg,Sodium_DV_percentage
0,1,"Original Ancient Grain Granola, 12 oz",3,135,2,7,30,130,3.5,0.18,135,0.06
1,2,"Original Granola, 12 oz",3,0,2,6,28,150,2.0,0.10,0,0.00
2,3,"Raisin Bran Cereal, 15 oz",5,240,8,15,55,170,0.0,0.00,240,0.10
3,4,365 Everyday Value® Organic Cocoa Crisps Cerea...,2,110,1,11,40,140,0.0,0.00,110,0.05
4,5,"Cinnamon Toast Cereal, 9 oz",10,90,6,0,26,90,0.0,0.00,90,0.04

In [3]:
#convert each serving size to 100g
df_new = df[['protein_g','Saturated_Fat_g','sugars_g','Servingsize_g','sodium_mg','fiber_g','Energy/calories']].astype(int)
d = {30:3.34, 28:3.58, 55:1.83, 40:2.5, 26:3.85, 26:3.85, 40:2.5, 48:2.1, 35:2.86}
df_new['constant'] = df['Servingsize_g'].map(d)
df_new['protein_100g'] = df_new['protein_g']*df_new['constant'].astype(int)
df_new['Saturated_Fat_100g'] = df_new['Saturated_Fat_g']*df_new['constant'].astype(int)
df_new['sugars_100g'] = df_new['sugars_g']*df_new['constant']
df_new['fiber_100g'] = df_new['fiber_g']*df_new['constant']
df_new['Servingsize_100g'] = df_new['Servingsize_g']*df_new['constant']
df_new['Energy_KJ'] = df_new['Energy/calories']*4.184
df_new['Energy_KJ'] = df_new['Energy_KJ'].astype(int)

In [4]:
df_new1= df_new[['Energy_KJ','sodium_mg','Saturated_Fat_100g','sugars_100g']]
df_new1

   Energy_KJ  sodium_mg  Saturated_Fat_100g  sugars_100g
0        543        135                   9        23.38
1        627          0                   6        21.48
2        711        240                   0        27.45
3        585        110                   0        27.50
4        376         90                   0         0.00
5        376        125                   0         0.00
6        669        170                   0        12.50
7        753          0                   0         2.10
8        585          0                   0        14.30

In [5]:
df_new2= df_new[['fiber_100g','protein_100g']]
df_new2

   fiber_100g  protein_100g
0        6.68             9
1        7.16             9
2       14.64             5
3        2.50             4
4       23.10            30
5       26.95            24
6       17.50            10
7        6.30            10
8       11.44             8

In [6]:
negative_factor = pd.read_csv(r'C:\\Users\\lavanya\\Desktop\\negative_factor.csv')
negative_factor.set_index('Points')

       Energy_KJ Saturated_fat_g Total_Sugar_g Sodium_mg
Points
0         <= 335            <= 1         <=4.5      <=90
1           >335              >1          >4.5       >90
2           >670              >2            >9      >180
3          >1005              >3         >13.5      >270
4          >1340              >4           >18      >360
5          >1675              >5         >22.5      >450
6          >2010              >6           >27      >540
7          >2345              >7           >31      >630
8          >2680              >8           >36      >720
9          >3015              >9           >40      >810
10         >3350             >10           >45      >900

In [ ]:
negative_factor.to_dict()

In [7]:
positive_factor = pd.read_csv(r'C:\\Users\\lavanya\\Desktop\\positive_factors.csv')
positive_factor.set_index('Points')

       Fruit_Veg_Nuts_percentage NSP_Fibre_g AOAC_Fibre_g Protein_g
Points
0                           <=40       <=0.7        <=0.9     <=1.6
1                            >40        >0.7         >0.9      >1.6
2                            >60        >1.4         >1.9      >3.2
3                              -        >2.1         >2.8      >4.8
4                              -        >2.8         >3.7      >6.4
5                            >80        >3.5         >4.7      >8.0

In [ ]:
positive_factor.to_dict()

In [8]:
# Defining negative factors 
def negative_factor(row):
    if row['Energy_KJ'] < 335 and row['Energy_KJ'] ==335 or row['Saturated_Fat_100g'] <1 and row['Saturated_Fat_100g'] ==1 or row['sugars_100g'] <4.5 and row['sugars_100g'] ==4.5 or row['sodium_mg'] < 90 and row['sodium_mg'] ==90:
        return 0
    elif row['Energy_KJ'] >335 or row['Saturated_Fat_100g'] >1 or row['sugars_100g'] > 4.5 or row['sodium_mg'] > 90:
        return 1
    elif row['Energy_KJ'] >670 or row['Saturated_Fat_100g'] >2  or row['sugars_100g'] > 9 or row['sodium_mg'] > 180:
        return 2
    elif row['Energy_KJ'] >1005 or row['Saturated_Fat_100g'] >3 or row['sugars_100g'] >13.5 or row['sodium_mg'] >270:
        return 3
    elif row['Energy_KJ'] >1340 or row['Saturated_Fat_100g'] >4 or row['sugars_100g'] >18 or row['sodium_mg'] > 360:
        return 4
    elif row['Energy_KJ'] >1675 or row['Saturated_Fat_100g'] >5 or row['sugars_100g'] > 22.5 or row['sodium_mg'] >450:
        return 5
    elif row['Energy_KJ'] >2010 or row['Saturated_Fat_100g'] >6 or row['sugars_100g'] > 27 or row['sodium_mg'] > 540:
        return 6
    elif row['Energy_KJ'] >2345 or row['Saturated_Fat_100g'] >7 or row['sugars_100g'] > 31 or row['sodium_mg'] > 630:
        return 7
    elif row['Energy_KJ'] >2680 or row['Saturated_Fat_100g'] >8 or row['sugars_100g'] > 36 or row['sodium_mg'] > 720:
        return 8
    elif row['Energy_KJ'] >3015 or row['Saturated_Fat_100g'] >9 or row['sugars_100g'] > 40 or row['sodium_mg'] > 810:
        return 9
    elif row['Energy_KJ'] >3350 or row['Saturated_Fat_100g'] >10 or row['sugars_100g'] > 45 or row['sodium_mg'] > 900:
        return 10

In [12]:
#Defining positive factors
def positive_factor(row):
    if row['Fruit_Veg_Nuts_percentage'] <40 and row['Fruit_Veg_Nuts_percentage'] ==40 or row['NSP_Fibre_g'] <0.7 and row['NSP_Fibre_g'] ==0.7 or row['AOAC_Fibre_g'] <0.9 and row['AOAC_Fibre_g'] ==0.9 or row['Protein_g'] <1.6 and row['Protein_g'] ==1.6:
        return 0
    elif row['Fruit_Veg_Nuts_percentage'] >40 or row['NSP_Fibre_g'] >0.7 or row['AOAC_Fibre_g'] >0.9 or row['Protein_g'] >1.6:
        return 1
    elif row['Fruit_Veg_Nuts_percentage'] >60 or row['NSP_Fibre_g'] >1.4 or row['AOAC_Fibre_g'] >1.9 or row['Protein_g'] >3.2:
        return 2
    elif row['NSP_Fibre_g'] >2.1 or row['AOAC_Fibre_g'] >2.8 or row['Protein_g'] >4.8:
        return 3
    elif row['NSP_Fibre_g'] >2.8 or row['AOAC_Fibre_g'] >3.7 or row['Protein_g'] >6.4:
        return 4
    elif row['Fruit_Veg_Nuts_percentage'] >80 or row['NSP_Fibre_g'] >3.5 or row['AOAC_Fibre_g'] > 4.7 or row['Protein_g'] >8.0:
        return 5

In [13]:
df_new1['energy_score'] = df_new1.apply(lambda row : negative_factor(row),axis=1)
df_new1['sodium_score'] = df_new1.apply(lambda row : negative_factor(row),axis=1)
df_new1

C:\Users\lavanya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\lavanya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Energy_KJ,sodium_mg,Saturated_Fat_100g,sugars_100g,energy_score,sodium_score
0,543,135,9,23.38,1,1
1,627,0,6,21.48,1,1
2,711,240,0,27.45,1,1
3,585,110,0,27.50,1,1
4,376,90,0,0.00,1,1
5,376,125,0,0.00,1,1
6,669,170,0,12.50,1,1
7,753,0,0,2.10,1,1
8,585,0,0,14.30,1,1

In [11]:
#calculating A points
#Total 'A' points = (points for energy) + (points for saturated fat) + (points for sugars) + (points for sodium)
#df_new_['energy_points'] = df_new_['Energy_KJ'].apply(negative_factor)

In [12]:
#caluclating B points
#Total 'C' points = (points for % fruit, vegetable & nut content) + (points for fibre [either NSP or AOAC]) + (points for protein)

In [13]:
#caluclating overall score
#If a food scores less than 11 ‘A’ points then the overall score is calculated as follows:
#Total ‘A’ points (energy + saturated fat + sugars + sodium)
#Minus
#Total ‘C’ points (fruit, veg and nuts + fibre + protein)
# If a food scores 11 or more ‘A’ points but scores 5 points for fruit, vegetables and nuts then the overall score is calculated as follows:
# Total ‘A’ points (energy + saturated fat + sugars + sodium)
# Minus
# Total ‘C’ points (fruit, veg and nuts + fibre + protein)
# • If a food scores 11 or more ‘A’ points, and less than 5 points for fruit, vegetables and nuts,
# then the overall score is calculated as follows :
# Total ‘A’ points (energy + saturated fat + sugars + sodium)
# Minus
# Points for fibre + points for fruit, vegetables and nuts (not allowed to score for protein)